<h1>Hello, Rails!</h1>
<p>The only way to be happy is to love. Unless you love,Your life will flash by. Do good to them, Wonder, Hope. 有爱才会幸福。去爱吧，否则一生转瞬即逝。多行善举。保持好奇之心。永远保持希望。</p>
<%=link_to "My Blog", posts_path %>
